.title {
    display: flex;
    font-size: 2.5rem;
    font-weight: 600;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-family: "Times New Roman";
    letter-spacing: 1rem;
    color: whitesmoke;
    margin-top: 20px;
}
.aboutcontainer{
    display: grid;
    column-gap: 50px;
    margin-top: 50px;
    background-color: #1f1c1c;
    justify-content: center;
    align-items: initial;
    border-radius: 25px;
    border: 4px solid black;
    opacity: 0.6;
    height: auto;
}
.formcontainer{
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px solid white;
    height: auto;
    font-weight: bolder;
    width: 500px;
    margin-top: 2%;
    margin-bottom: 2%;
}
.textareaheading{
    text-align: center;
    font-size: 2.5rem;
}
.textarea{
    display: flex;
    font-size: 1.3rem;
    flex-direction: row;
    width: 1200px;
    align-items: center;
    justify-content: flex-start;
    font-family: "Arial";
    text-align: justify;
    color: whitesmoke;
    flex-wrap: wrap;
    padding: 20px;
    margin-left: 20px;

}
.buttonarea{
    display: flex;
    width: 900px;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.innerbuttonarea{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formtitle {
    display: flex;
    font-size: 1.5rem;
    font-weight: 600;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-family:"roboto" ;
    color: whitesmoke;
    margin-top: 10px;
}

